.ai-list-item ul {
    border-left: 1px solid #ffffff63;
    padding-left: 25px;
    margin-bottom: 30px;
}
.ai-list-item ul li {
    position: relative;
    z-index: 1;
    margin-bottom: 27px;
}
.ai-list-item ul li::after {
    position: absolute;
    left: -33px;
    top: 3px;
    content: "";
    height: 15px;
    width: 15px;
    border: 2px solid #6d8702;
    border-radius: 50%;
    background: #d8e800;
}
.ai-list-item h5{
    color:#ffffff;
}
@media(max-width:768px){
    .navtabshere1 button {
        font-size: 16px!important;}
}