.Weoff-outer{
   background-image: url('https://webpagecdnstorage.blob.core.windows.net/precisiongrow/landscape-with-warm-tones.webp');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}